* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: rgb(45, 73, 74);
    background: -moz-radial-gradient(circle, rgba(45, 73, 74, 1) 5%, rgba(6, 6, 82, 1) 45%, rgba(9, 9, 121, 1) 70%);
    background: -webkit-radial-gradient(circle, rgba(45, 73, 74, 1) 5%, rgba(6, 6, 82, 1) 45%, rgba(9, 9, 121, 1) 70%);
    background: radial-gradient(circle, rgba(45, 73, 74, 1) 5%, rgba(6, 6, 82, 1) 45%, rgba(9, 9, 121, 1) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2d494a", endColorstr="#090979", GradientType=1);
    color: white;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: white;
}

.btn {
    border: 2px solid white;
    border-radius: 8px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 21px;
    font-weight: medium;
    transition-duration: 0.1s;
}

.btn:hover {
    background-color: white;
    color: black;
}

.primaryBtn {
    border: 2px solid #3772FF;
    transition-duration: 0.1s;
}

.primaryBtn:hover {
    background-color: #3772FF;
    color: white;
}

.disabledBtn {
    cursor: auto;
    background-color: gray;
    border-color: black;
    user-select: none;
}

.disabledBtn:hover {
    background-color: darkgray;
}

header::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #2d2a32ef center/cover;
    filter: blur(4px);*/
    z-index: -1;
}

header.scrolled {
    background: #2d2a32ef center/cover;
    border-bottom: 2px solid #3772FF;
}

header {
    position: fixed;
    width: 100vw;
    height: 84px;
    border-bottom: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
    transition: background 0.33s ease-in-out;

    a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            user-select: none;
            pointer-events: none;
            -webkit-user-drag: none;
        }

        p {
            color: orange;
            font-size: 18px;
            margin-left: 5px;
        }
    }

    menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        a {
            margin-left: 10px;
        }
    }
}

main {
    min-height: calc(100vh - 84px);

    section {
        height: calc(100vh - 84px);
    }

    #titleSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            font-size: 84px;
            color: white;
            text-shadow: 0px 6px 6px black;
            margin-top: 84px;

            span {
                color: #3772FF;
            }
        }

        h2 {
            font-size: 32px;
            margin-top: 15px;
            text-shadow: 0px 6px 6px black;

            span {
                color: #3772FF;
            }
        }

        .animate {
            animation: fadeSlide 0.5s ease-in-out;
        }
    }

    #about {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 72px;
            color: white;
            text-shadow: 0px 6px 6px black;
        }

        p {
            font-size: 32px;
            text-shadow: 0px 6px 6px black;
            max-width: 75%;
            text-align: center;
        }
    }

    #imagesSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #imagesTitle {
            font-size: 72px;
            color: white;
            text-shadow: 0px 6px 6px black;
            margin-bottom: 35px;
        }

        #imagesBox {
            max-width: 80%;
            display: grid;
            gap: 15px;
            grid-template-columns: repeat(auto-fit, 640px);
            justify-content: center;

            img {
                width: 640px;
                height: auto;
            }
        }
    }

    #features {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        #featuresTitle {
            font-size: 72px;
            color: white;
            text-shadow: 0px 6px 6px black;
            margin-bottom: 35px;
        }

        #featuresBox {
            max-width: 80%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 400px);
            gap: 50px;
            justify-content: center;

            div::before {
                position: absolute;
                content: "";
                z-index: -1;
                background-color: darkgray;
                border-style: solid;
                border-width: 4px;
                border-color: #111111;
                opacity: 0.8;
                top: -8px;
                left: -8px;
                right: -8px;
                bottom: -8px;
                border-radius: 32px;
                transition-duration: 0.2s;
            }

            div {
                position: relative;
                background-color: #2d2a32ef;
                border-radius: 24px;
                padding: 20px;
                transition-duration: 0.2s;
                user-select: none;

                h2 {
                    font-size: 48px;
                    text-shadow: 0px 6px 6px black;
                    text-align: center;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 24px;
                    text-shadow: 0px 6px 6px black;
                    color: gray;
                    filter: blur(2px);
                }
            }

            div:hover {
                background-color: #3772FF;

                p {
                    color: white;
                    filter: none;
                }
            }

            div:hover::before {
                opacity: 0.1;
            }
        }
    }

    #downloadSection {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
            font-size: 48px;
            margin-bottom: 15px;
            text-shadow: 0px 4px 4px black;
        }

        ol {
            font-size: 18px;
            max-width: 25%;
            text-shadow: 0px 4px 4px black;
        }

        ol li {
            margin-bottom: 5px;
        }

        ol li:nth-child(3) {
            color: gray;
        }

        .downloadBox {
            width: 100vw;
            display: grid;
            gap: 15px;
            justify-content: center;
            grid-template-columns: 30% 30% 30%;
            grid-template-rows: 30%;
            margin-top: 15px;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            div {
                height: 100%;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10%;

                    h2 {
                        font-size: 24px;
                        margin-bottom: 5px;
                        text-shadow: 0px 4px 4px black;
                    }

                    p {
                        margin-bottom: 5px;
                        color: gray;
                    }
                }
            }
        }

        /*h1 {*/
        /*    font-size: 84px;*/
        /*    color: white;*/
        /**/
        /*    span {*/
        /*        color: #3772FF;*/
        /*    }*/
        /*}*/
    }
}

#TOS,
#PO {
    display: flex;
    justify-content: center;
    background-color: black;

    #doc {
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
        padding-bottom: 4rem;
        max-width: 33%;

        h1 {
            font-size: 64px;
            font-weight: bold;
            text-align: left;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 32px;
            font-weight: medium;
            text-align: left;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 24px;
            font-weight: medium;
            text-align: left;
            margin-bottom: 1rem;
        }

        p,
        li {
            font-size: 16px;
            font-weight: normal;
            text-align: left;
            margin-bottom: 1rem;
            margin-left: 1rem;
        }

        li {
            margin-left: 2rem;
            margin-bottom: 1rem;
        }

        a {
            color: #3772FF;
        }
    }
}

footer {
    border-top: 2px solid #3772FF;
    padding-top: 10px;
    padding-bottom: 10px;
    display: grid;
    height: auto;
    grid-template-rows: 1fr 1fr;
    background: #2d2a32ef center/cover;
    justify-content: center;

    #first-row-footer {
        width: 98vw;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-row: 1;

        #footer-media {
            position: absolute;
            grid-column: 1 / span 3;
            justify-self: center;
        }

        #footer-label {
            grid-column: 1;
        }

        #footer-contact {
            grid-column: 3;
        }
    }

    #second-row-footer {
        width: 98vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-row: 2;

    }

    p {
        font-size: 21px;
        font-weight: medium;

        a {
            /*color: #3772FF;*/
            color: white;
            opacity: 0.6;
            transition-duration: 0.2s;
        }

        a:hover {
            opacity: 1;
        }
    }
}

@media (max-width: 480px) {
    main {
        min-height: 100vh;

        section {
            height: auto;
            min-height: 100vh;
        }

        #titleSection {
            margin-left: 20px;
            margin-right: 20px;

            h1 {
                font-size: 64px;
            }

            h2 {
                font-size: 24px;
            }
        }

        #about {
            h2 {
                font-size: 54px;
                margin-bottom: 10vw;
            }

            p {
                font-size: 21px;
            }
        }

        #features {
            #featuresBox {
                gap: 5px;
                grid-template-columns: repeat(auto-fit, 90vw);

                div {
                    h2 {
                        font-size: 54px;
                    }

                    p {
                        font-size: 21px;
                        color: white;
                        filter: none;
                        text-shadow: 0px 6px 6px black;
                    }
                }

                div::before {
                    display: none;
                }
            }
        }

        #imagesSection {
            h2 {
                font-size: 54px;
            }

            #imagesBox {
                grid-template-columns: repeat(auto-fit, 80vw);

                img {
                    width: 80vw;
                    height: auto;
                }
            }
        }
    }

    header {
        display: none;
    }

    footer {

        #footer-label,
        #footer-contact,
        #footer-copy {
            display: none;
        }

        #footer-terms,
        #footer-media {
            position: relative;
            grid-column: 1 / span 3;
            justify-self: center;
            margin: auto;
        }

        p {
            font-size: 12px;
        }
    }

    #TOS,
    #PO {
        #doc {
            max-width: 90%;
            padding-top: 5px;
            padding-bottom: 5px;

            h1 {
                font-size: 24px;
                margin-bottom: 0.33rem;
            }

            h2 {
                font-size: 12px;
                margin-bottom: 0.33rem;
            }

            h3 {
                font-size: 11px;
                margin-bottom: 0.33rem;
            }

            p,
            li {
                font-size: 9px;
                margin-bottom: 0.33rem;
            }
        }
    }
}

@keyframes fadeSlide {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
